body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #000;
  background-attachmet: fixed;
  background-image: url('assets/highkey-pattern-zoomed.png');
  background-repeat: repeat;
  background-size: 150px;
  color: white;
  scroll-behavior: smooth;
}

.logo {
  width: 400px;
  height: auto;
  margin-top: 40px;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.title {
  font-family: 'Marker Felt', cursive;
  font-size: 64px;
  background: linear-gradient(to right, hotpink, deepskyblue);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 10px hotpink;
  margin: 20px 0;
}

.shop-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  background-color: hotpink;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 0 10px hotpink;
  transition: transform 0.2s;
}

.shop-button:hover {
  transform: scale(1.05);
}

.product-section {
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  width: 200px;
  height: 250px;
  background-color: #111;
  border: 1px solid #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
